# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # AccountCompanyLevelApi
  class AccountCompanyLevelApi < BaseApi
    # Returns the list of company accounts that your API credential has access
    # to. The list is grouped into pages as defined by the query parameters.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—Account read
    # @param [Integer] page_number Optional parameter: The number of the page to
    # fetch.
    # @param [Integer] page_size Optional parameter: The number of items to have
    # on a page, maximum 100. The default is 10 items on a page.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_companies(page_number: nil,
                      page_size: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/companies',
                                     Server::DEFAULT1)
                   .query_param(new_parameter(page_number, key: 'pageNumber'))
                   .query_param(new_parameter(page_size, key: 'pageSize'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListCompanyResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Returns the company account specified in the path. Your API credential
    # must have access to the company account.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—Account read
    # @param [String] company_id Required parameter: The unique identifier of
    # the company account.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_companies_company_id(company_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/companies/{companyId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(company_id, key: 'companyId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Company2.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Returns the list of merchant accounts under the company account specified
    # in the path. The list only includes merchant accounts that your API
    # credential has access to. The list is grouped into pages as defined by the
    # query parameters.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—Account read
    # @param [String] company_id Required parameter: The unique identifier of
    # the company account.
    # @param [Integer] page_number Optional parameter: The number of the page to
    # fetch.
    # @param [Integer] page_size Optional parameter: The number of items to have
    # on a page, maximum 100. The default is 10 items on a page.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_companies_company_id_merchants(company_id,
                                           page_number: nil,
                                           page_size: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/companies/{companyId}/merchants',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(company_id, key: 'companyId')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(page_number, key: 'pageNumber'))
                   .query_param(new_parameter(page_size, key: 'pageSize'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListMerchantResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
