# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # AllowedOriginsMerchantLevelApi
  class AllowedOriginsMerchantLevelApi < BaseApi
    # Returns the list of [allowed
    # origins](https://docs.adyen.com/development-resources/client-side-authenti
    # cation#allowed-origins) for the API credential identified in the path.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—API credentials read and write
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] api_credential_id Required parameter: Unique identifier of
    # the API credential.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_merchants_merchant_id_api_credentials_api_credential_id_allowed_origins(merchant_id,
                                                                                    api_credential_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(api_credential_id, key: 'apiCredentialId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(AllowedOriginsResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Adds a new [allowed
    # origin](https://docs.adyen.com/development-resources/client-side-authentic
    # ation#allowed-origins) to the API credential's list of allowed origins.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—API credentials read and write
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] api_credential_id Required parameter: Unique identifier of
    # the API credential.
    # @param [AllowedOrigin] body Optional parameter: TODO: type description
    # here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_merchants_merchant_id_api_credentials_api_credential_id_allowed_origins(merchant_id,
                                                                                     api_credential_id,
                                                                                     body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(api_credential_id, key: 'apiCredentialId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(AllowedOrigin.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Removes the [allowed
    # origin](https://docs.adyen.com/development-resources/client-side-authentic
    # ation#allowed-origins) identified in the path. As soon as an allowed
    # origin is removed, we no longer accept client-side requests from that
    # domain.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—API credentials read and write
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] api_credential_id Required parameter: Unique identifier of
    # the API credential.
    # @param [String] origin_id Required parameter: Unique identifier of the
    # allowed origin.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_merchants_merchant_id_api_credentials_api_credential_id_allowed_origins_origin_id(merchant_id,
                                                                                                 api_credential_id,
                                                                                                 origin_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(api_credential_id, key: 'apiCredentialId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(origin_id, key: 'originId')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Returns the [allowed
    # origin](https://docs.adyen.com/development-resources/client-side-authentic
    # ation#allowed-origins) identified in the path.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—API credentials read and write
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] api_credential_id Required parameter: Unique identifier of
    # the API credential.
    # @param [String] origin_id Required parameter: Unique identifier of the
    # allowed origin.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_merchants_merchant_id_api_credentials_api_credential_id_allowed_origins_origin_id(merchant_id,
                                                                                              api_credential_id,
                                                                                              origin_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(api_credential_id, key: 'apiCredentialId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(origin_id, key: 'originId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(AllowedOrigin.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
