# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # ApiCredentialsCompanyLevelApi
  class ApiCredentialsCompanyLevelApi < BaseApi
    # Returns the list of [API
    # credentials](https://docs.adyen.com/development-resources/api-credentials)
    # for the company account. The list is grouped into pages as defined by the
    # query parameters.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—API credentials read and write
    # @param [String] company_id Required parameter: The unique identifier of
    # the company account.
    # @param [Integer] page_number Optional parameter: The number of the page to
    # fetch.
    # @param [Integer] page_size Optional parameter: The number of items to have
    # on a page, maximum 100. The default is 10 items on a page.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_company_api_credentials(company_id,
                                     page_number: nil,
                                     page_size: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/companies/{companyId}/apiCredentials',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(company_id, key: 'companyId')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(page_number, key: 'pageNumber'))
                   .query_param(new_parameter(page_size, key: 'pageSize'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListCompanyApiCredentialsResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Creates an [API
    # credential](https://docs.adyen.com/development-resources/api-credentials)
    # for the company account identified in the path. In the request, you can
    # specify which merchant accounts the new API credential will have access
    # to, as well as its roles and allowed origins.
    # The response includes several types of authentication details:
    # * [API
    # key](https://docs.adyen.com/development-resources/api-authentication#api-k
    # ey-authentication): used for API request authentication.
    # * [Client
    # key](https://docs.adyen.com/development-resources/client-side-authenticati
    # on#how-it-works): public key used for client-side authentication.
    # * [Username and
    # password](https://docs.adyen.com/development-resources/api-authentication#
    # using-basic-authentication): used for basic authentication.
    # > Make sure you store the API key securely in your system. You won't be
    # able to retrieve it later.
    # If your API key is lost or compromised, you need to [generate a new API
    # key](https://docs.adyen.com/api-explorer/#/ManagementService/v1/post/compa
    # nies/{companyId}/apiCredentials/{apiCredentialId}/generateApiKey).
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—API credentials read and write
    # @param [String] company_id Required parameter: The unique identifier of
    # the company account.
    # @param [CreateCompanyApiCredentialRequest] body Optional parameter: TODO:
    # type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_company_api_credential(company_id,
                                      body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/companies/{companyId}/apiCredentials',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(company_id, key: 'companyId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CreateCompanyApiCredentialResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Returns the [API
    # credential](https://docs.adyen.com/development-resources/api-credentials)
    # identified in the path.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—API credentials read and write
    # @param [String] company_id Required parameter: The unique identifier of
    # the company account.
    # @param [String] api_credential_id Required parameter: Unique identifier of
    # the API credential.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_company_api_credential(company_id,
                                   api_credential_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/companies/{companyId}/apiCredentials/{apiCredentialId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(company_id, key: 'companyId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(api_credential_id, key: 'apiCredentialId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CompanyApiCredential.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Changes the API credential's roles, merchant account access, or allowed
    # origins. The request has the new values for the fields you want to change.
    # The response contains the full updated API credential, including the new
    # values from the request.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—API credentials read and write
    # @param [String] company_id Required parameter: The unique identifier of
    # the company account.
    # @param [String] api_credential_id Required parameter: Unique identifier of
    # the API credential.
    # @param [UpdateCompanyApiCredentialRequest] body Optional parameter: TODO:
    # type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_company_api_credential(company_id,
                                      api_credential_id,
                                      body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/companies/{companyId}/apiCredentials/{apiCredentialId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(company_id, key: 'companyId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(api_credential_id, key: 'apiCredentialId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CompanyApiCredential.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
