# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # ClientKeyCompanyLevelApi
  class ClientKeyCompanyLevelApi < BaseApi
    # Returns a new [client
    # key](https://docs.adyen.com/development-resources/client-side-authenticati
    # on#how-it-works) for the API credential identified in the path. You can
    # use the new client key a few minutes after generating it. The old client
    # key stops working 24 hours after generating a new one.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—API credentials read and write
    # @param [String] company_id Required parameter: The unique identifier of
    # the company account.
    # @param [String] api_credential_id Required parameter: Unique identifier of
    # the API credential.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def generate_company_client_key(company_id,
                                    api_credential_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/companies/{companyId}/apiCredentials/{apiCredentialId}/generateClientKey',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(company_id, key: 'companyId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(api_credential_id, key: 'apiCredentialId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(GenerateClientKeyResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
