# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # OrdersApi
  class OrdersApi < BaseApi
    # Creates an order to be used for partial payments. Make a POST `/orders`
    # call before making a `/payments` call when processing payments with
    # different payment methods.
    # @param [String] idempotency_key Optional parameter: A unique identifier
    # for the message with a maximum of 64 characters (we recommend a UUID).
    # @param [CreateOrderRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_order(idempotency_key: nil,
                     body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/orders',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .header_param(new_parameter(idempotency_key, key: 'Idempotency-Key'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CreateOrderResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 ServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 ServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 ServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 ServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 ServiceErrorException))
        .execute
    end

    # Cancels an order. Cancellation of an order results in an automatic
    # rollback of all payments made in the order, either by canceling or
    # refunding the payment, depending on the type of payment method.
    # @param [String] idempotency_key Optional parameter: A unique identifier
    # for the message with a maximum of 64 characters (we recommend a UUID).
    # @param [CancelOrderRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def cancel_order(idempotency_key: nil,
                     body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/orders/cancel',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .header_param(new_parameter(idempotency_key, key: 'Idempotency-Key'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CancelOrderResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 ServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 ServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 ServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 ServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 ServiceErrorException))
        .execute
    end

    # Retrieves the balance remaining on a shopper's gift card. To check a gift
    # card's balance, make a POST `/paymentMethods/balance` call and include the
    # gift card's details inside a `paymentMethod` object.
    # @param [String] idempotency_key Optional parameter: A unique identifier
    # for the message with a maximum of 64 characters (we recommend a UUID).
    # @param [BalanceCheckRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_payment_method_balance(idempotency_key: nil,
                                   body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/paymentMethods/balance',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .header_param(new_parameter(idempotency_key, key: 'Idempotency-Key'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(BalanceCheckResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 ServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 ServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 ServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 ServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 ServiceErrorException))
        .execute
    end
  end
end
