# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # PaymentMethodsMerchantLevelApi
  class PaymentMethodsMerchantLevelApi < BaseApi
    # Returns details for all payment methods of the merchant account identified
    # in the path.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Payment methods read
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] store_id Optional parameter: The unique identifier of the
    # store for which to return the payment methods.
    # @param [String] business_line_id Optional parameter: The unique identifier
    # of the Business Line for which to return the payment methods.
    # @param [Integer] page_size Optional parameter: The number of items to have
    # on a page, maximum 100. The default is 10 items on a page.
    # @param [Integer] page_number Optional parameter: The number of the page to
    # fetch.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_merchants_merchant_id_payment_method_settings(merchant_id,
                                                          store_id: nil,
                                                          business_line_id: nil,
                                                          page_size: nil,
                                                          page_number: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/merchants/{merchantId}/paymentMethodSettings',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(store_id, key: 'storeId'))
                   .query_param(new_parameter(business_line_id, key: 'businessLineId'))
                   .query_param(new_parameter(page_size, key: 'pageSize'))
                   .query_param(new_parameter(page_number, key: 'pageNumber'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaymentMethodResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('429',
                                 '',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Sends a request to add a new payment method to the merchant account
    # identified in the path.
    # Depending the payment method
    # [`type`](https://docs.adyen.com/api-explorer/Management/latest/post/mercha
    # nts/_merchantId_/paymentMethodSettings#request-type), you may need to send
    # an additional object required for the payment method.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Payment methods read and write
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [PaymentMethodSetupInfo] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_merchants_merchant_id_payment_method_settings(merchant_id,
                                                           body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/merchants/{merchantId}/paymentMethodSettings',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaymentMethod1.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('429',
                                 '',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Returns details for the merchant account and the payment method identified
    # in the path.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Payment methods read
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] payment_method_id Required parameter: The unique
    # identifier of the payment method.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_merchants_merchant_id_payment_method_settings_payment_method_id(merchant_id,
                                                                            payment_method_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(payment_method_id, key: 'paymentMethodId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaymentMethod1.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('429',
                                 '',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Updates payment method details for the merchant account and the payment
    # method identified in the path.
    # Depending the payment method
    # [`type`](https://docs.adyen.com/api-explorer/Management/latest/patch/merch
    # ants/_merchantId_/paymentMethodSettings#request-type), you may need to
    # send an additional object required for the payment method.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Payment methods read and write
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] payment_method_id Required parameter: The unique
    # identifier of the payment method.
    # @param [UpdatePaymentMethodInfo] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def patch_merchants_merchant_id_payment_method_settings_payment_method_id(merchant_id,
                                                                              payment_method_id,
                                                                              body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(payment_method_id, key: 'paymentMethodId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaymentMethod1.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('429',
                                 '',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Adds the new domain to the list of Apple Pay domains that are registered
    # with the merchant account and the payment method identified in the path.
    # For more information, see [Apple Pay
    # documentation](https://docs.adyen.com/payment-methods/apple-pay/web-drop-i
    # n/?tab=adyen-certificate-live_1#going-live).
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Payment methods read and write
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] payment_method_id Required parameter: The unique
    # identifier of the payment method.
    # @param [ApplePayInfo] body Optional parameter: TODO: type description
    # here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_merchants_merchant_id_payment_method_settings_payment_method_id_add_apple_pay_domains(merchant_id,
                                                                                                   payment_method_id,
                                                                                                   body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}/addApplePayDomains',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(payment_method_id, key: 'paymentMethodId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('429',
                                 '',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Returns all Apple Pay domains that are registered with the merchant
    # account and the payment method identified in the path. For more
    # information, see [Apple Pay
    # documentation](https://docs.adyen.com/payment-methods/apple-pay/enable-app
    # le-pay#register-merchant-domain).
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Payment methods read
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] payment_method_id Required parameter: The unique
    # identifier of the payment method.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_merchants_merchant_id_payment_method_settings_payment_method_id_get_apple_pay_domains(merchant_id,
                                                                                                  payment_method_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}/getApplePayDomains',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(payment_method_id, key: 'paymentMethodId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ApplePayInfo.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
