# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # PaymentLinksApi
  class PaymentLinksApi < BaseApi
    # Creates a payment link to a [Pay by
    # Link](https://docs.adyen.com/unified-commerce/pay-by-link/) page where the
    # shopper can pay. The list of payment methods presented to the shopper
    # depends on the `currency` and `country` parameters sent in the request.
    # For more information, refer to [Pay by Link
    # documentation](https://docs.adyen.com/online-payments/pay-by-link#create-p
    # ayment-links-through-api).
    # @param [String] idempotency_key Optional parameter: A unique identifier
    # for the message with a maximum of 64 characters (we recommend a UUID).
    # @param [PaymentLinkRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_payment_links(idempotency_key: nil,
                           body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/paymentLinks',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .header_param(new_parameter(idempotency_key, key: 'Idempotency-Key'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaymentLinkResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 ServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 ServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 ServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 ServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 ServiceErrorException))
        .execute
    end

    # Retrieves the payment link details using the payment link `id`.
    # @param [String] link_id Required parameter: Unique identifier of the
    # payment link.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_payment_links_link_id(link_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/paymentLinks/{linkId}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(link_id, key: 'linkId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaymentLinkResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 ServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 ServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 ServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 ServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 ServiceErrorException))
        .execute
    end

    # Updates the status of a payment link. Use this endpoint to [force the
    # expiry of a payment
    # link](https://docs.adyen.com/online-payments/pay-by-link#update-payment-li
    # nk-status).
    # @param [String] link_id Required parameter: Unique identifier of the
    # payment link.
    # @param [UpdatePaymentLinkRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def patch_payment_links_link_id(link_id,
                                    body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/paymentLinks/{linkId}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(link_id, key: 'linkId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaymentLinkResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 ServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 ServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 ServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 ServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 ServiceErrorException))
        .execute
    end
  end
end
