# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # RecurringApi
  class RecurringApi < BaseApi
    # Forwards the payment details you stored with Adyen to a third-party that
    # you specify and returns the response from the third-party. Supports
    # forwarding stored card details or [network
    # tokens](https://docs.adyen.com/online-payments/network-tokenization). For
    # more information, see [Forward stored payment
    # details](https://docs.adyen.com/online-payments/tokenization/forward-payme
    # nt-details).
    # @param [String] idempotency_key Optional parameter: A unique identifier
    # for the message with a maximum of 64 characters (we recommend a UUID).
    # @param [CheckoutForwardRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_forward(idempotency_key: nil,
                     body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/forward',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .header_param(new_parameter(idempotency_key, key: 'Idempotency-Key'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CheckoutForwardResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Lists the tokens for stored payment details for the shopper identified in
    # the path, if there are any available. The token ID can be used with
    # payment requests for the shopper's payment. A summary of the stored
    # details is included.
    # @param [String] shopper_reference Optional parameter: Your reference to
    # uniquely identify this shopper, for example user ID or account ID. Minimum
    # length: 3 characters. > Your reference must not include personally
    # identifiable information (PII), for example name or email address.
    # @param [String] merchant_account Optional parameter: Your merchant
    # account.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_stored_payment_methods(shopper_reference: nil,
                                   merchant_account: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/storedPaymentMethods',
                                     Server::DEFAULT)
                   .query_param(new_parameter(shopper_reference, key: 'shopperReference'))
                   .query_param(new_parameter(merchant_account, key: 'merchantAccount'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListStoredPaymentMethodsResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Creates a token to store the shopper's payment details. This token can be
    # used for the shopper's future payments.
    # @param [String] idempotency_key Optional parameter: A unique identifier
    # for the message with a maximum of 64 characters (we recommend a UUID).
    # @param [StoredPaymentMethodRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_stored_payment_methods(idempotency_key: nil,
                                    body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/storedPaymentMethods',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .header_param(new_parameter(idempotency_key, key: 'Idempotency-Key'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(StoredPaymentMethodResource.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Deletes the token identified in the path. The token can no longer be used
    # with payment requests.
    # @param [String] stored_payment_method_id Required parameter: The unique
    # identifier of the token.
    # @param [String] shopper_reference Required parameter: Your reference to
    # uniquely identify this shopper, for example user ID or account ID. Minimum
    # length: 3 characters. > Your reference must not include personally
    # identifiable information (PII), for example name or email address.
    # @param [String] merchant_account Required parameter: Your merchant
    # account.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_stored_payment_methods_stored_payment_method_id(stored_payment_method_id,
                                                               shopper_reference,
                                                               merchant_account)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/storedPaymentMethods/{storedPaymentMethodId}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(stored_payment_method_id, key: 'storedPaymentMethodId')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(shopper_reference, key: 'shopperReference')
                                 .is_required(true))
                   .query_param(new_parameter(merchant_account, key: 'merchantAccount')
                                 .is_required(true))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true))
        .execute
    end
  end
end
