# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # TerminalActionsTerminalLevelApi
  class TerminalActionsTerminalLevelApi < BaseApi
    # Schedules a [terminal
    # action](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t/terminal-actions-api) by specifying the action and the terminals that
    # the action must be applied to.
    # The following restrictions apply:
    # * You can schedule only one action at a time. For example, to install a
    # new app version and remove an old app version, you have to make two API
    # requests.
    # * The maximum number of terminals in a request is **100**. For example, to
    # apply an action to 250 terminals, you have to divide the terminals over
    # three API requests.
    # * If there is an error with one or more terminal IDs in the request, the
    # action is scheduled for none of the terminals. You need to fix the error
    # and try again.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Terminal actions read and write
    # In the live environment, requests to this endpoint are subject to [rate
    # limits](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t#rate-limits-in-the-live-environment).
    # @param [ScheduleTerminalActionsRequest] body Optional parameter: TODO:
    # type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def schedule_terminal_actions(body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/terminals/scheduleActions',
                                     Server::DEFAULT1)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ScheduleTerminalActionsResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
