# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # TerminalActionsCompanyLevelApi
  class TerminalActionsCompanyLevelApi < BaseApi
    # Returns the [terminal
    # actions](https://docs.adyen.com/point-of-sale/automating-terminal-manageme
    # nt/terminal-actions-api) that have been scheduled for the company
    # identified in the path.The response doesn't include actions that are
    # scheduled by Adyen.
    # To make this request, your API credential must have one of the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—Terminal actions read
    # * Management API—Terminal actions read and write
    # In the live environment, requests to this endpoint are subject to [rate
    # limits](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t#rate-limits-in-the-live-environment).
    # @param [String] company_id Required parameter: The unique identifier of
    # the company account.
    # @param [Integer] page_number Optional parameter: The number of the page to
    # fetch.
    # @param [Integer] page_size Optional parameter: The number of items to have
    # on a page, maximum 100. The default is 20 items on a page.
    # @param [String] status Optional parameter: Returns terminal actions with
    # the specified status.  Allowed values: **pending**, **successful**,
    # **failed**, **cancelled**, **tryLater**.
    # @param [String] type Optional parameter: Returns terminal actions of the
    # specified type.  Allowed values: **InstallAndroidApp**,
    # **UninstallAndroidApp**, **InstallAndroidCertificate**,
    # **UninstallAndroidCertificate**.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_company_terminal_actions(company_id,
                                      page_number: nil,
                                      page_size: nil,
                                      status: nil,
                                      type: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/companies/{companyId}/terminalActions',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(company_id, key: 'companyId')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(page_number, key: 'pageNumber'))
                   .query_param(new_parameter(page_size, key: 'pageSize'))
                   .query_param(new_parameter(status, key: 'status'))
                   .query_param(new_parameter(type, key: 'type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListExternalTerminalActionsResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Returns the details of the [terminal
    # action](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t/terminal-actions-api) identified in the path.
    # To make this request, your API credential must have one of the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—Terminal actions read
    # * Management API—Terminal actions read and write
    # In the live environment, requests to this endpoint are subject to [rate
    # limits](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t#rate-limits-in-the-live-environment).
    # @param [String] company_id Required parameter: The unique identifier of
    # the company account.
    # @param [String] action_id Required parameter: The unique identifier of the
    # terminal action.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_company_terminal_action(company_id,
                                    action_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/companies/{companyId}/terminalActions/{actionId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(company_id, key: 'companyId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(action_id, key: 'actionId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ExternalTerminalAction.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
