# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # TerminalsTerminalLevelApi
  class TerminalsTerminalLevelApi < BaseApi
    # Returns the payment terminals that the API credential has access to and
    # that match the query parameters.
    # To make this request, your API credential must have the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API — Terminal actions read
    # In the live environment, requests to this endpoint are subject to [rate
    # limits](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t#rate-limits-in-the-live-environment).
    # @param [String] search_query Optional parameter: Returns terminals with an
    # ID that contains the specified string. If present, other query parameters
    # are ignored.
    # @param [String] otp_query Optional parameter: Returns one or more
    # terminals associated with the one-time passwords specified in the request.
    # If this query parameter is used, other query parameters are ignored.
    # @param [String] countries Optional parameter: Returns terminals located in
    # the countries specified by their [two-letter country
    # code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
    # @param [String] merchant_ids Optional parameter: Returns terminals that
    # belong to the merchant accounts specified by their unique merchant account
    # ID.
    # @param [String] store_ids Optional parameter: Returns terminals that are
    # assigned to the
    # [stores](https://docs.adyen.com/api-explorer/#/ManagementService/latest/ge
    # t/stores) specified by their unique store ID.
    # @param [String] brand_models Optional parameter: Returns terminals of the
    # [models](https://docs.adyen.com/api-explorer/#/ManagementService/latest/ge
    # t/companies/{companyId}/terminalModels) specified in the format
    # *brand.model*.
    # @param [Integer] page_number Optional parameter: The number of the page to
    # fetch.
    # @param [Integer] page_size Optional parameter: The number of items to have
    # on a page, maximum 100. The default is 20 items on a page.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_terminals(search_query: nil,
                       otp_query: nil,
                       countries: nil,
                       merchant_ids: nil,
                       store_ids: nil,
                       brand_models: nil,
                       page_number: nil,
                       page_size: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/terminals',
                                     Server::DEFAULT1)
                   .query_param(new_parameter(search_query, key: 'searchQuery'))
                   .query_param(new_parameter(otp_query, key: 'otpQuery'))
                   .query_param(new_parameter(countries, key: 'countries'))
                   .query_param(new_parameter(merchant_ids, key: 'merchantIds'))
                   .query_param(new_parameter(store_ids, key: 'storeIds'))
                   .query_param(new_parameter(brand_models, key: 'brandModels'))
                   .query_param(new_parameter(page_number, key: 'pageNumber'))
                   .query_param(new_parameter(page_size, key: 'pageSize'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListTerminalsResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Reassigns a payment terminal to a company account, merchant account,
    # merchant account inventory, or a store.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Assign Terminal
    # In the live environment, requests to this endpoint are subject to [rate
    # limits](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t#rate-limits-in-the-live-environment).
    # @param [String] terminal_id Required parameter: The unique identifier of
    # the payment terminal.
    # @param [TerminalReassignmentRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def reassign_terminal(terminal_id,
                          body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/terminals/{terminalId}/reassign',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(terminal_id, key: 'terminalId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
