# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # TerminalSettingsMerchantLevelApi
  class TerminalSettingsMerchantLevelApi < BaseApi
    # Returns the logo that is configured for a specific payment terminal model
    # at the merchant account identified in the path.
    # The logo is returned as a Base64-encoded string. You need to Base64-decode
    # the string to get the actual image file.
    # This logo applies to all terminals of the specified model under the
    # merchant account, unless a different logo is configured at a lower level
    # (store or individual terminal).
    # To make this request, your API credential must have one of the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—Terminal settings read
    # * Management API—Terminal settings read and write
    # In the live environment, requests to this endpoint are subject to [rate
    # limits](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t#rate-limits-in-the-live-environment).
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] model Required parameter: The terminal model. Possible
    # values: E355, VX675WIFIBT, VX680, VX690, VX700, VX820, M400, MX925,
    # P400Plus, UX300, UX410, V200cPlus, V240mPlus, V400cPlus, V400m, e280,
    # e285, e285p, S1E, S1EL, S1F2, S1L, S1U, S7T.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_merchants_merchant_id_terminal_logos(merchant_id,
                                                 model)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/merchants/{merchantId}/terminalLogos',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(model, key: 'model')
                                 .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Logo.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Updates the logo for a specific payment terminal model at the merchant
    # account identified in the path. You can update the logo for only one
    # terminal model at a time.
    # This logo applies to all terminals of the specified model under the
    # merchant account, unless a different logo is configured at a lower level
    # (store or individual terminal).
    # * To change the logo, specify the image file as a Base64-encoded string.
    # * To restore the logo inherited from the company account, specify an empty
    # logo value.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Terminal settings read and write
    # In the live environment, requests to this endpoint are subject to [rate
    # limits](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t#rate-limits-in-the-live-environment).
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [String] model Required parameter: The terminal model. Allowed
    # values: E355, VX675WIFIBT, VX680, VX690, VX700, VX820, M400, MX925,
    # P400Plus, UX300, UX410, V200cPlus, V240mPlus, V400cPlus, V400m, e280,
    # e285, e285p, S1E, S1EL, S1F2, S1L, S1U, S7T.
    # @param [Logo] body Optional parameter: TODO: type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def patch_merchants_merchant_id_terminal_logos(merchant_id,
                                                   model,
                                                   body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/merchants/{merchantId}/terminalLogos',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(model, key: 'model')
                                 .is_required(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Logo.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Returns the payment terminal settings that are configured for the merchant
    # account identified in the path. These settings apply to all terminals
    # under the merchant account unless different values are configured at a
    # lower level (store or individual terminal).
    # To make this request, your API credential must have one of the following
    # [roles](https://docs.adyen.com/development-resources/api-credentials#api-p
    # ermissions):
    # * Management API—Terminal settings read
    # * Management API—Terminal settings read and write
    # For [sensitive terminal
    # settings](https://docs.adyen.com/point-of-sale/automating-terminal-managem
    # ent/configure-terminals-api#sensitive-terminal-settings), your API
    # credential must have the following role:
    # * Management API—Terminal settings Advanced read and write
    # In the live environment, requests to this endpoint are subject to [rate
    # limits](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t#rate-limits-in-the-live-environment).
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_merchants_merchant_id_terminal_settings(merchant_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/merchants/{merchantId}/terminalSettings',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TerminalSettings.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Updates payment terminal settings for the merchant account identified in
    # the path.
    # These settings apply to all terminals under the merchant account, unless
    # different values are configured at a lower level (store or individual
    # terminal).
    # * To change a parameter value, include the full object that contains the
    # parameter, even if you don't want to change all parameters in the object.
    # * To restore a parameter value inherited from a higher level, include the
    # full object that contains the parameter, and specify an empty value for
    # the parameter or omit the parameter.
    # * Objects that are not included in the request are not updated.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Terminal settings read and write
    # For [sensitive terminal
    # settings](https://docs.adyen.com/point-of-sale/automating-terminal-managem
    # ent/configure-terminals-api#sensitive-terminal-settings), your API
    # credential must have the following role:
    # * Management API—Terminal settings Advanced read and write
    # In the live environment, requests to this endpoint are subject to [rate
    # limits](https://docs.adyen.com/point-of-sale/automating-terminal-managemen
    # t#rate-limits-in-the-live-environment).
    # @param [String] merchant_id Required parameter: The unique identifier of
    # the merchant account.
    # @param [TerminalSettings] body Optional parameter: TODO: type description
    # here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def patch_merchants_merchant_id_terminal_settings(merchant_id,
                                                      body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/merchants/{merchantId}/terminalSettings',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TerminalSettings.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
