# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # UsersMerchantLevelApi
  class UsersMerchantLevelApi < BaseApi
    # Returns a list of users associated with the `merchantId` specified in the
    # path.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Users read and write
    # @param [String] merchant_id Required parameter: Unique identifier of the
    # merchant.
    # @param [Integer] page_number Optional parameter: The number of the page to
    # fetch.
    # @param [Integer] page_size Optional parameter: The number of items to have
    # on a page. Maximum value is **100**. The default is **10** items on a
    # page.
    # @param [String] username Optional parameter: The partial or complete
    # username to select all users that match.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_merchants_merchant_id_users(merchant_id,
                                        page_number: nil,
                                        page_size: nil,
                                        username: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/merchants/{merchantId}/users',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(page_number, key: 'pageNumber'))
                   .query_param(new_parameter(page_size, key: 'pageSize'))
                   .query_param(new_parameter(username, key: 'username'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ListMerchantUsersResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Creates a user for the `merchantId` specified in the path.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Users read and write
    # @param [String] merchant_id Required parameter: Unique identifier of the
    # merchant.
    # @param [CreateMerchantUserRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_merchants_merchant_id_users(merchant_id,
                                         body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/merchants/{merchantId}/users',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CreateUserResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Returns user details for the `userId` and the `merchantId` specified in
    # the path.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Users read and write
    # @param [String] merchant_id Required parameter: Unique identifier of the
    # merchant.
    # @param [String] user_id Required parameter: Unique identifier of the
    # user.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_merchants_merchant_id_users_user_id(merchant_id,
                                                user_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/merchants/{merchantId}/users/{userId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(user_id, key: 'userId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(User.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end

    # Updates user details for the `userId` and the `merchantId` specified in
    # the path.
    # To make this request, your API credential must have the following
    # [role](https://docs.adyen.com/development-resources/api-credentials#api-pe
    # rmissions):
    # * Management API—Users read and write
    # @param [String] merchant_id Required parameter: Unique identifier of the
    # merchant.
    # @param [String] user_id Required parameter: Unique identifier of the
    # user.
    # @param [UpdateMerchantUserRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def patch_merchants_merchant_id_users_user_id(merchant_id,
                                                  user_id,
                                                  body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/merchants/{merchantId}/users/{userId}',
                                     Server::DEFAULT1)
                   .template_param(new_parameter(merchant_id, key: 'merchantId')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(user_id, key: 'userId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(User.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 RestServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 RestServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 RestServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 RestServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 RestServiceErrorException))
        .execute
    end
  end
end
