# adyen_ap_is
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module AdyenApIs
  # UtilityApi
  class UtilityApi < BaseApi
    # You need to use this endpoint if you have an API-only integration with
    # Apple Pay which uses Adyen's Apple Pay certificate.
    # The endpoint returns the Apple Pay session data which you need to complete
    # the [Apple Pay session
    # validation](https://docs.adyen.com/payment-methods/apple-pay/api-only?tab=
    # adyen-certificate-validation_1#complete-apple-pay-session-validation).
    # @param [String] idempotency_key Optional parameter: A unique identifier
    # for the message with a maximum of 64 characters (we recommend a UUID).
    # @param [ApplePaySessionRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_apple_pay_sessions(idempotency_key: nil,
                                body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/applePay/sessions',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .header_param(new_parameter(idempotency_key, key: 'Idempotency-Key'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ApplePaySessionResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # This operation takes the origin domains and returns a JSON object
    # containing the corresponding origin keys for the domains.
    # > If you're still using origin key for your Web Drop-in or Components
    # integration, we recommend [switching to client
    # key](https://docs.adyen.com/development-resources/client-side-authenticati
    # on/migrate-from-origin-key-to-client-key). This allows you to use a single
    # key for all origins, add or remove origins without generating a new key,
    # and detect the card type from the number entered in your payment form.
    # @param [String] idempotency_key Optional parameter: A unique identifier
    # for the message with a maximum of 64 characters (we recommend a UUID).
    # @param [UtilityRequest] body Optional parameter: TODO: type description
    # here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_origin_keys(idempotency_key: nil,
                         body: nil)
      warn 'Endpoint post_origin_keys in UtilityApi is deprecated'
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/originKeys',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .header_param(new_parameter(idempotency_key, key: 'Idempotency-Key'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(UtilityResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 ServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 ServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 ServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 ServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 ServiceErrorException))
        .execute
    end

    # Updates the order for PayPal Express Checkout. This can be used to update
    # the PayPal lightbox with an updated amount and delivery methods based on
    # the delivery address.
    # @param [String] idempotency_key Optional parameter: A unique identifier
    # for the message with a maximum of 64 characters (we recommend a UUID).
    # @param [PaypalUpdateOrderRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_paypal_update_order(idempotency_key: nil,
                                 body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/paypal/updateOrder',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .header_param(new_parameter(idempotency_key, key: 'Idempotency-Key'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('BasicAuth', 'ApiKeyAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaypalUpdateOrderResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 ServiceErrorException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 ServiceErrorException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 ServiceErrorException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 ServiceErrorException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 ServiceErrorException))
        .execute
    end

    # Validates the shopperId.
    # @param [ValidateShopperIdRequest] body Required parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def post_validate_shopper_id(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/validateShopperId',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ValidateShopperIdResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request - a problem reading or understanding the request.',
                                 DefaultErrorResponseEntityException)
                    .local_error('401',
                                 'Unauthorized - authentication required.',
                                 DefaultErrorResponseEntityException)
                    .local_error('403',
                                 'Forbidden - insufficient permissions to process the request.',
                                 DefaultErrorResponseEntityException)
                    .local_error('422',
                                 'Unprocessable Entity - a request validation error.',
                                 DefaultErrorResponseEntityException)
                    .local_error('500',
                                 'Internal Server Error - the server could not process the'\
                                  ' request.',
                                 DefaultErrorResponseEntityException))
        .execute
    end
  end
end
